@import 'styles/base/fonts';

.side {
  &__drawer {
    border-right: 1px solid rgb(233, 233, 233);
    background: #fff;
    position: relative;
    width: 75px;
    z-index: 2;

    &-menu {
      transition: 0.4s all ease-in-out;
      top: 0;
      left: 75px;
      transform: translateX(-100%);
      z-index: 1;
      position: absolute;
      width: 27vw;
      height: 100vh;
      background: #fff;
      pointer-events: none;

      &.active {
        transform: translateX(0%);
        pointer-events: auto;

        & + .side__drawer-overlay {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }

    &-overlay {
      transition: 0.4s all ease-in-out;
      position: absolute;
      opacity: 0;
      pointer-events: none;
      background: rgba(0, 0, 0, 0.5);
      width: 100vw;
      content: '';
      height: 100%;
      left: 0;
      top: 0;
      z-index: -1;
    }

    &-tab {
      position: relative;
      transition: 0.3s all ease-out;

      &:before {
        position: absolute;
        width: 0%;
        height: 2px;
        bottom: 0;
        left: 0;
        content: '';
        @extend .background-yellow;
        transition: 0.3s all ease-out;
      }

      &:hover:not(.active) {
        border-radius: 8px 8px 0 0;
        transform: scale(1.1);
        @extend .color-gray;

        &:before {
          width: 100%;
          height: 2px;
          bottom: 0;
          @extend .background-gray;
        }
      }

      &.active {
        border-radius: 8px 8px 0 0;
        position: relative;

        &:before {
          position: absolute;
          width: 100%;
          height: 4px;
          bottom: 0;
          left: 0;
          content: '';
          @extend .background-yellow;
          transition: 0.5s all ease-out;
        }
      }
    }

    &-content {
      transition: all 1s ease-out;
      opacity: 0;
      position: relative;
      left: -600px;

      &.active {
        opacity: 1;
        left: 0px;
      }
    }
  }
}
