@import 'styles/base/variables';

.animate-in-out {
  animation: scale-in-out 2s ease-out infinite;
}

// Transition class
.fade-enter {
  max-height: 0;
  overflow: hidden;
  position: relative;
  top: 35px;
}
.fade-exit {
  opacity: 1;
  position: relative;
  top: 0;
}
.fade-enter-active {
  max-height: 700px;
  overflow: auto;
  top: 0px;
}
.fade-exit-active {
  top: 35px;
  opacity: 0;
  transition: all 500ms ease-out;
}
.fade-enter-active {
  transition: all 1000ms ease-out;
}

.slide-enter {
  position: relative;
  transform: translateY(100%);
}
.slide-exit {
  transform: translateY(0);
  position: relative;
}
.slide-enter-active {
  transform: translateY(0%);
}
.slide-exit-active {
  transform: translateY(-100%);
}
.slide-enter-active,
.slide-exit-active {
  opacity: 1;
  position: relative;
  transition: all 500ms ease-out;
}

@keyframes scale-in-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.page-loader {
  &__dot {
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: $gray;
    opacity: 0;
    animation: slideUp 0.8s infinite ease-in-out;

    $delay: 0s;

    @for $i from 2 through 4 {
      $delay: $delay + 0.2s;

      &:nth-of-type(#{$i}) {
        animation-delay: $delay;
      }
    }
  }

  .shape {
    fill: $gray;
  }

  &__text {
    display: flex;
    align-items: baseline;
    color: $gray;
  }
}
