@import "./variables";

@for $i from 1 through 100 {
  .fs-#{$i} {
    font-size: #{$i}px;
  }

  .lh-#{$i} {
    line-height: #{$i}px;
  }
}

@each $weight in $font-weights {
  .fw-#{$weight} {
    font-weight: $weight;
  }
}
